<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.date %></td>
        <td><a href="<%= quote.author.twitter %>" title="<%= quote.id %>"><%= quote.author.name %></a></td>
        <td><%= quote.body %></td>
        <td><%= quote.paywall_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
