<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th>Source</th>
      <th>Paywall Link</th>
      <th>Date</th>
      <th>Audio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.date %></td>
        <td><a href="<%= quote.author.twitter %>" title="<%= quote.id %>"><%= quote.author.name %></a></td>
        <td><%= quote.body %></td>
        <td><%= quote.source %></td>
        <td><%= quote.paywall_link %></td>
        <td><%= quote.audio %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
