<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Quotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>
        <small>
          Made with ❤️ by <a href="http://dergigi.com" target="_blank">Gigi</a>
          <br/>
          <a href="https://forms.gle/himv1V62J8ArHPkJ8" target="_blank">Submit Quote</a>
        </small>
      </p>
    </footer>
  </body>
</html>
