<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Quotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p class="sister_projects">
        <small>
          Sister projects:
          <a href="https://www.patreon.com/dergigi">21 Ways</a> ·
          <a href="https://21lessons.com">21 Lessons</a> ·
          <a href="https://bitcoin-resources.com">Bitcoin Resources</a>
        </small>
      </p>
      <p>
        <small>
          Made with ❤️ by <a href="http://dergigi.com" target="_blank">Gigi</a>
          <br/>
          <a href="https://forms.gle/himv1V62J8ArHPkJ8" target="_blank">Submit Quote</a> ·
          <a href="/quotes/random.json">API</a> ·
          <a href="https://dergigi.com/support" target="_blank">Support</a>
        </small>
      </p>
    </footer>
  </body>
</html>
